.title {
    margin-top: 0px;
    margin-bottom: 15px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-height: 80vh;
    width: 100%;
}

.error {
    color: red;
}

p.error {
    margin: 0;
    font-size: 12px;
}

.h3 {
    font-size: 1.5em;
    margin: 0;
}

.modal-input {
    width: 80%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
}

.register-modal-content {
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    background-color: #ffffff;
    align-content: center;
}




.modal-input {
    width: 70%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
}

.cancel-button {
    margin: 5px;
    background-color: #d86363;
    height: 50px;
    color: #000000;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 3px;
    bottom: 0;
}

.cancel-button:hover {
    background-color: #d62727;
    color: #ffffff;
}

.password-container {
    display: flex;
    align-items: ;
    width: 100%;
}

.show-password-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 0.8em;
    height: 38px;
    width: 38px;
    border: none;
    background: none;
    outline: none;
}

.show-password-button:active,
.show-password-button:focus {
    border: none;
    outline: none;
    background: none;
}

.material-icons.show-password-icon:hover {
    color: #c25353;
}

.admin-modal {
    width: 600px;
    /* Adjust the width as needed */
    max-width: 100%;
    /* Ensure it doesn't exceed the viewport width */
}

.modal-button-group {
    display: flex;
    justify-content: center;

}

.modal-button {
    padding: 10px 20px;

    cursor: pointer;
}

.rating {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.socore-area-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.login-button {
    width: 500px;
}

.social-login-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: definite;
    bottom: 20px;
    /* Adjust as needed */
}

.social-login-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.social-icons-login {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 20px;
    /* Add some padding for spacing */
}

.social-icon-login {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icon-login.google:hover {
    background-color: #db4437;
    /* Google red */
    color: white;
    transform: scale(1.2);
    /* Slight enlargement */
}

.social-icon-login.facebook:hover {
    background-color: #4267B2;
    /* Facebook blue */
    color: white;
    transform: scale(1.2);
    /* Slight enlargement */
}

.social-icon-login.github:hover {
    background-color: #2b3137;
    /* GitHub black */
    color: white;
    transform: scale(1.2);
    /* Slight enlargement */
}

.register-link-highlight {
    color: #007acc;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
    font-weight: 700;
}

.register-link-highlight:hover {
    color: #d01e39;
}

.forgot-password-link {
    text-align: right; 
    font-size: 0.9rem;
}

.forgot-password-link a {
    color: #999; /* Faint gray color */
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
}

.forgot-password-link a:hover {
    color: #d01e39; /* Red color on hover */
}


@media (max-width: 768px) {
    .register-modal-content {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .register-modal-content {
        width: 80%;
    }
}