.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .feature {
    flex: 1 1 calc(33.333% - 40px); /* Adjust the width for 3 columns */
    max-width: calc(33.333% - 40px);
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 152, 0, 0.9);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
  }
  
  .feature:hover {
    transform: translateY(-10px);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.8);
  }
  
  .feature-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .feature-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(3, 58, 3);
  }
  
  .feature-description {
    font-size: 1rem;
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .feature {
      flex: 1 1 calc(50% - 20px); /* Adjust the width for 2 columns */
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .feature {
      flex: 1 1 100%; /* Full width for mobile */
      max-width: 100%;
    }
  }