.feature {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    margin: 0 1rem;
    padding: 22px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
}

.feature-image {
    width: 64px;
    height: 64px;
}

.feature-image-title {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .feature-image-title p {
   margin: 0;
   font-weight: 900;
  }

  