
.im-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px 10px; 
    width: fit-content; 
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(51px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4); /* Slight box shadow */
}


.im-icon-button {
    color: white; 
    margin: 0 3px; 
    transition: transform 0.2s, color 0.2s; 
}

.im-icon-button:hover {
    transform: scale(1.4); 
    color: var(--secondary-color);
    cursor: pointer;
}

.vertical-separator {
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 5px;
}
