/* Hide scrollbar for the notification menu */
.MuiPaper-root {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
.MuiPaper-root::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.icon-badge-container {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: -15px;
  right: -2px;
  z-index: 10;
}
  
  .notification-icon {
    cursor: pointer;
  }
  

  
  .notification-item {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
  }
  
  .notification-item:last-child {
    border-bottom: none;
  }

