/* Todo Colums */
.todo-columns{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(200, 187, 187);
    border-radius: 10px;
    margin: 2px;
}

/* TodoEntry */
.todo-entry {
    background-color: rgb(187, 186, 186);
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo-entry:hover {
    transform: scale(1.02);
    background-color: rgb(102, 98, 92);
    color: white
}

.todo-item,
.done-item,
.doing-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.done-text {
    text-decoration: line-through;
    margin-left: 40px;
}

.material-icons.todo-entry-icon {
    width: 24px;
}

/* button */
.moreDoneButton {
    align-self: self-end;
}

.entryButton {
    margin: 1px;
    width: 32px;
    height: 24px;
    background-color: #eae4e3;
    border: 1px solid rgba(144, 131, 131, 0.856);
    cursor: pointer;
    /* Add cursor pointer */
    position: relative;
    /* Position relative for absolute centering */
    color: #887571;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entryButton:hover {
    background-color: #f3b3b3;
    /* Darker green background color on hover */
    border: 1px solid rgba(0, 0, 0, 0.856);
    cursor: pointer;
    color: #000000;

}

/* Checkbox */
.checkbox-and-task p {
    margin: 0px;
}

.checkbox-c {
    margin-left: 1em;
    margin-right: 3em;
}

.checkbox-and-task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-and-task:hover {
    animation: strikethrough 500ms linear;
}

/* timestamps */
.time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    align-items: flex-start;
   
}

.time-stamp {
    font-size: x-small;
    line-height: 1;
}

.separator {
    border-left: 1px solid rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    padding: 5px 0;
}

.due-soon {
    color: red;
    transform: scale(1.1);
    margin-left: 7px;
}

/* ButtonPanel */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* Information-container */

.information-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: auto;
    height: auto;
}

.information-top {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: auto;
    height: auto;
}

.information-time {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: auto;
    height: auto;
    gap: 8px;
}

.information-container p {
    font-size: small;
}

.information-container > * {
    margin: 4px;
}

.information-dif {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 4px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}
/* More Info */
.more-information {
    background-color: rgb(187, 186, 186);
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    align-self: center;
    width: 90%;
    gap: 5px;
}

.more-information p {
    margin: 0
}

.steps-container, 
.description-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: auto;
    height: 100%;
    text-align: top;
    background-color: rgb(205, 205, 209);
    border-radius: 10px;
}

.steps-label,
.description-label {
padding: 2px
}

.step-entry {
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: #eae4e3;
    border-radius: 10px;
    padding: 6px;

}

.step-entry:hover {
    transform: scale(1.05);
    background-color: rgb(102, 98, 92);
    color: white;
    cursor: pointer;
}

.step-id {
    margin-right: 10px; /* Adjust this value based on your needs */
}

.step-name {
    flex-grow: 1;
    cursor: pointer;
}

.add-step {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.more-information-loggedOut-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.more-information-loggedOut{
    background-color: rgb(187, 186, 186);
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex: column;
    align-items: center;
    align-self: center;
    width: 90%;
}