.todo-entry {
    background-color: rgb(187, 186, 186);
    margin-bottom: 3px;
    text-align: left;
    padding: 2px;
    padding-left: 20px;
    border-radius: 10px;
    margin: 5px;
}

.todo-entry:hover {
background-color: rgb(102, 98, 92);
color: white
}

.time {
    display: flex;
    justify-content: space-between;
}

.time-stamp,
.completed,
.time-to-complete {
    margin: 0; /* Reset default margin */
}

.time-to-complete {
    padding-right: 10px;
}
