.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.modal-content {
    width: 00px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    background-color: #dbdfe4;
    align-content: center;
}


.create-modal-input {
    width:100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}

.modal-input-date{
    width:100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}

.create-modal-input-description {
    width:100%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}

.modal-button {
    background-color: #44c867;
    height: 50px;
    color: #000000;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 3px;
}

.modal-button:hover {
  background-color: #26783a;
  color: white;
}

.create-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-entry-form.modal-input {
    width: 10;
}

.add-step {
    margin:8px;
    color: #827ea3;
    transition: transform 0.2s ease-in-out;
}

.add-step:hover {
    transform: scale(1.3);
    color: black;
}

.add-step:active {
    transform: scale(1.1);
    color: rgb(55, 30, 218);
  }

  /* Form */
.edit-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  