
.repeatable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.repeatable-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.repeatable-main-options,
.repeatable-interval-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    column-gap: 30px;
    width: 100%;
    margin-top: 10px;
    align-items: center;
}

.repeatable-interval-options {
    margin-top: 20px;
}


.advanced-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: auto;
    padding-top: 6px;

    transition: max-height 0.5s cubic-bezier(0.4, 0, 1, 1), opacity 0.5s cubic-bezier(0.4, 0, 1, 1);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.advanced-options.show {
    max-height: 3000px;  /* this is just for the animation */
    opacity: 1;
}

.advanced-options.hide {
    max-height: 0;
    opacity: 0;
}

.create-modal-input {
    width:100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}

.create-modal-name-input,
.create-modal-input-description {
    min-height: 36px; 
    flex-shrink: 0;
}

.modal-input-date{
    width:100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
    
}

.create-modal-input-description {
    width:100%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}


.create-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.add-step {
    margin:8px;
    color: #827ea3;
    transition: transform 0.2s ease-in-out;
}

.add-step:hover {
    transform: scale(1.3);
    color: black;
}

.add-step:active {
    transform: scale(1.1);
    color: rgb(55, 30, 218);
  }

  /* Form */


/* Annoying scroll glitch */
.no-scroll {
    overflow: hidden;
}

.draggable {
    top: auto !important;
    right: auto !important;
}

.steps {
   width: 100%;
   justify-content: flex-start;
}
/* Animations */
.fade-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

/* Animations */
.fade-enter-active {
    max-height: 500px; /* Adjust based on the content */
    opacity: 1;
    transition: max-height 3000ms ease-out, opacity 3000ms ease-out;
}

.fade-exit {
    max-height: 500px; /* Adjust based on the content */
    opacity: 1;
}

.fade-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 3000ms linear, opacity 3000ms linear;
}

.step-enter {
    opacity: 0;
    transform: scale(0.5); /* Start smaller */
}
.step-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-out, transform 500ms ease-out; /* Slow entry with ease-out effect */
}
.step-exit {
    opacity: 1;
    transform: scale(1);
}
.step-exit-active {
    opacity: 0;
    transform: scale(0.5); /* Shrink when exiting */
    transition: opacity 500ms ease-in, transform 500ms ease-in; /* Smooth exit with ease-in effect */
}

.linked-tasks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Adjust as needed to match the rest of the form */
}

.linked-tasks-form-control {
    flex: 1;
    min-width: 200px;
}