.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    overflow: hidden;
}

.create-modal-input {
    width:100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}

.create-modal-name-input,
.create-modal-input-description {
    min-height: 36px; /* adjust this value as needed */
    flex-shrink: 0;
}

.modal-input-date{
    width:100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}

.create-modal-input-description {
    width:100%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    border-radius: 10px;
}


.create-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.add-step {
    margin:8px;
    color: #827ea3;
    transition: transform 0.2s ease-in-out;
}

.add-step:hover {
    transform: scale(1.3);
    color: black;
}

.add-step:active {
    transform: scale(1.1);
    color: rgb(55, 30, 218);
  }

  /* Form */

.create-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: 80vh;
    overflow-x: hidden;
}

/* Annoying scroll glitch */
.no-scroll {
    overflow: hidden;
}

.draggable {
    top: auto !important;
    right: auto !important;
}

.steps {
   width: 100%;
   justify-content: flex-start;
}