.addButton {
    /* Make the button round */
    border-radius: 50%;
    background-color: var(--secondary-color);
    cursor: pointer; /* Add cursor pointer */
    /* Center the icon */
    margin: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
  }
  
  .addButton:hover {
    background-color: white;
    border: 1px solid rgb(198, 193, 193);
    color: black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }

  .addButton:active {
    outline:none;
  }
  