.mdl-layout__header-row.top-row {
  height: 8em;
  background-color: #3f51b5;
}
.mdl-layout__header-row.nav-row {
  position: sticky;
  top: 100px;
}
.mdl-layout__header {
  background-color: #3f51b5; /* Change background color as needed */
}


.mdl-navigation__link {
  color: white; /* Change link color as needed */
}

.mdl-button--raised.mdl-button--accent {
  margin-left: 10px; /* Add margin to the register button */
}

.mdl-layout__header.header_layout{
  border-radius: 10px;
}

.mdl-layout__header{
  border-radius: 10px;
}

.center-content {
  display: flex;
  align-items: center;
}

.todoButton {
  /* Make the button round */
  color: rgb(80, 60, 60);
  font-weight: 600;
  border-radius: 15px;
  width: 6em; 
  height: 36px; 
  background-color: #ff9d00; 
  cursor: pointer; /* Add cursor pointer */
  position: relative; /* Position relative for absolute centering */

  /* Center the icon */
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(75, 57, 57);
}

.todoButton:hover {
  background-color: #e1900e; 
  color: rgb(255, 255, 255);  /* Darker green background color on hover */
  border: 2px solid rgb(235, 194, 137);
}

.todoButton:active {
  border: 2px solid rgb(144, 57, 57);
}

.mdl-navigation__link.login-link:hover {
  color: #ff9d00; /* Change link color on hover */
  transform: scale(1.2);
}


