.title {
    margin-top: 0px;
    margin-bottom: 15px;
}


.edit-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
   
}

.save-button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}   

.draggable {
    top: auto !important;
    right: auto !important;
}

.modal-content {
    max-height: 80vh;
}

.edit-repeatable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}

.edit-repeatable-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.edit-repeatable-main-options,
.edit-repeatable-interval-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    column-gap: 30px;
    width: 100%;
    align-items: center;
}

.linked-tasks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Adjust as needed to match the rest of the form */
    margin-top: 10px;
}

.linked-tasks-form-control {
    flex: 1;
    min-width: 200px;
}


