.title {
    margin-top: 0px;
    margin-bottom: 15px;
}


.edit-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: 100vh;
    gap: 15px;
   
}

.save-button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}   

.draggable {
    top: auto !important;
    right: auto !important;
}

.modal-content {
   
    max-height: 80vh;
}
