.drawer-container-calendar-drawer {
    height: auto;
    width: 100%;
}

.information-icon {
    color: var(--secondary-color);
    transition: transform 0.2s ease-in-out;
}

.drawer-content-calendar-drawer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px 10px 0px 0px;
}

.bottom-drawer-calendar-drawer {
    z-index: 1000; 
}

.bottom-drawer-calendar-drawer {
}

.drawer-header-calendar-drawer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    width: 100%;
    z-index: 1201; 
}

.drawer-header-calendar-drawer-open {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border: 1px solid #6a0a96;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    z-index: 1201; 
    position: sticky;
    top: 0;
    bottom: auto;
}


.drawer-content-vertical {
    flex-direction: column;
}

.drawer-left-calendar-drawer, .drawer-right-calendar-drawer {
    flex: 1;
    padding: 10px;
}

.drawer-right-calendar-drawer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: auto;
    margin-top: auto
}

.no-deadline-tasks-calendar-drawer {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.drawer-right-title-calendar-drawer {
    margin-right: 5px;
}

.drawer-right-title-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-item-calendar-drawer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f3f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.task-block-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}



.task-block-content {
    flex-grow: 1;
}

.task-block-checkbox {
    margin-left: 10px;
}

.task-item-calendar-drawer:active {
    cursor: grabbing;
}

.button-calendar-drawer {
    margin-bottom: 10px;
}

.currency-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .drawer-right-calendar-drawer, .drawer-right-calendar-drawer {
        border-top: 1px solid #e0e0e0;
    }
}