.drawer-container-calendar-drawer {
    height: auto;
    width: 100%;
}

.drawer-content-calendar-drawer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px 10px 0px 0px;
}

.bottom-drawer-calendar-drawer {
    z-index: 1000; 
    overflow-y: hidden;
}

.drawer-header-calendar-drawer {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    width: 100%;
    z-index: 1201; 
}

.drawer-header-calendar-drawer-open {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    z-index: 1201; 
    position: sticky;
    top: 0;
    bottom: auto;
}


.drawer-content-vertical {
    flex-direction: column;
}

.drawer-left-calendar-drawer, .drawer-right-calendar-drawer {
    flex: 1;
    

    padding: 10px;
}

.drawer-right-calendar-drawer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: auto;
    margin-top: auto
}

.no-deadline-tasks-calendar-drawer {
    max-height: 250px;
    overflow-y: auto;
}

.drawer-right-title-calendar-drawer {
   margin-bottom: 40px;
}

.task-item-calendar-drawer {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: grab;
}

.task-item-calendar-drawer:active {
    cursor: grabbing;
}

.currency-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    vertical-align: middle;
}