.button-view {
    background-color: rgba(123, 31, 162, .5); /* This is the primary color, but i need some opacity */
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 3px;
    margin: 2px;
    border-top: 3px solid #5e5d5d;
    overflow: hidden;
    position: relative;
    height: 64px;
    width: auto;
    color: white;
}

.list-container {
    background-color: rgba(119, 12, 225, 0.207);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    
}


.title-todo {
    display: none;
    background-color: rgb(230, 81, 81);
    color: black;
    border-radius: 10px;
    height: 5px;

}


.title-done {
    display: none;
    background-color: rgb(100, 158, 49);
    border-radius: 10px;
    color: white;
    height: 5px;

}

.title-doing {
    display: none;
    background-color: rgb(235, 204, 103);
    border-radius: 10px;
    color: rgb(14, 6, 6);
    height: 5px;

}

.list-view {
    border-radius: 10px;
    flex: 1;
    overflow: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.list-view-mobile {
    border-radius: 10px;
    overflow: auto;
    height: 100vh; /* Cover the entire screen height */
    overflow-x: hidden;
}

.checkbox-row {
    display: flex;
    justify-content: space-around;
}

.checkbox-container {
    margin: 3px 20px;
}

.doing-item .doing-text {
    transition: text-decoration 200ms ease-out 200ms;
}

.doing-item:hover .doing-text {
    text-decoration: line-through;
}

.list-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    color: white;
    width: auto;
   

}

.list-settings-todo{
    background-color: rgb(230, 81, 81);
    color: white;
}

.list-settings-doing{
    background-color: rgb(235, 204, 103);
    color: black;
}

.list-settings-done{
    background-color: rgb(100, 158, 49); 
    color: white;
}

/* Media queries */


