.landing-page {
  background-image: url('../../assets/Background_opti2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.hero {
  width: auto;
  background-color: rgb(255, 255, 255, .8);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: row;
  transform: rotateX(2deg) rotateY(2deg);
  transition: transform 0.5s;
  /* Other properties... */
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, white 45%, transparent 60%, white 100%);
  pointer-events: none;
}


.hero:hover {
  transform: rotateX(0deg) rotateY(0deg);
}

.hero-left,
.hero-right {
  width: 50%;
  height: 60vh;
}

.hero-left {
  justify-content: center;
  z-index: 100;
}


.hero-right {
  justify-content: center;
  background-image: url('../../assets/header_image_geen2.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.hero-bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.hero-content-left {
  transform: translate(0%, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero-get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.hero-get-started-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

/* Fonts */


.hero-sub-text {
  font-size: 1rem;
  margin-bottom: 20px;
  color: black;
  font-family: math;
}

.hero-content-left h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-family: cursive;
}

.hero-other-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: black;
  font-family: math;
}

.hero-login-link {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-family: math;
  cursor: pointer;
}

.hero-login-link:hover {
  color: var(--secondary-color);
  font-weight: 900;

}

/* Buttons */

.hero-button {
  background-color: var(--forestGreen-color);
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  width: auto;
  min-width: 300px;
  height: 3.0em;
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  padding: 0px 20px;
  cursor: pointer;
}

.hero-button.cancel {
  background-color: var(--cancel-color);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  width: 9em;
  height: 3.8em;
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.hero-button.cancel:hover {
  background-color: white;
  color: var(--cancel-color);
  font-weight: 900;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.hero-button:disabled {
  background-color: #e8e5e5;
  color: #666;
  cursor: not-allowed;
}

.hero-button:disabled:hover {
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.hero-button:hover {
  background-color: white;
  color: var(--primary-color);
  font-weight: 900;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.features {
  width: 99%; 
  height: auto; 
  background-color: rgba(6, 48, 20, 00); 
  display: flex;
  justify-content: center;
  align-items: stretch; 
  margin: 10px auto; 
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
}

.qoute-div {
  width: auto;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto; /* center the div */

}

.ins-quote {
  font-size: 3rem;
  font-family: cursive;
  color: var(--success-color);
  text-shadow: 60px 160px 20px rgba(93, 6, 99, 0.3);
}

.first-quote {
 color: white;
}

.second-quote {
  color: var(--primary-color);
}

.quote-mark {
  color: var(--secondary-color) 
}

.success-case {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(66, 172, 198, 0.7) 50%, rgba(47, 111, 184, 0.3) 66%, rgba(30, 50, 120, 0.7) 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.success-case-section {
  display: flex;
  justify-content: space-between;
}

.success-case-image, .success-case-text {
  flex: 1;
  padding: 20px;
}



.success-case-image img {
  width: 80%;
  height: auto;
  border-radius: 20px;
 
}

.image1 {
  box-shadow: 0 0 20px 10px rgba(66, 111, 115, 0.5);
}

.image2 {
  box-shadow: 0 0 20px 10px rgba(66, 111, 115, 0.5);
}

.testimonials {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  width: auto;
  margin: auto;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 1000; 
}


@media (max-width: 1024px) {
  .hero-right {
    display: none;
  }
  .hero-left {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 0;
    margin-top: 0px;
  }
}