.footer-main {
    background-color: var(--primary-color);
    color: #ffffff;
    margin-top: 0px;
    border-radius: 5px;
    border-top: 3px solid rgb(83, 79, 79);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.copyright-disc {
    margin: 0;
    text-align: center;
}

.footer-button {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    width: auto;
    min-width: 300px;
    height: 3.0em;
    font-weight: 700;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    padding: 0px 20px;
    cursor: pointer;
  }
  
  .footer-button.cancel {
    background-color: var(--cancel-color);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    width: 9em;
    height: 3.8em;
    font-weight: 700;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .footer-button.cancel:hover {
    background-color: white;
    color: var(--cancel-color);
    font-weight: 900;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
  
  .footer-button:disabled {
    background-color: #e8e5e5;
    color: #666;
    cursor: not-allowed;
  }
  
  .footer-button:disabled:hover {
    font-weight: 700;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .footer-button:hover {
    background-color: white;
    color: var(--secondary-color);
    font-weight: 900;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }

  .category {
    color: var(--secondary-color)
  }
  .social-icon {
    color: var(--primary-white);
    font-size: 1.5em;
    transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid transparent; /* add this line */
    border-radius: 10px; /* add this line */
    padding: 2px; /* add this line */
  }

  .social-icon:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    border: 1px solid gray;
    border-radius: 10px;
  }