/* App.css */
#root {
  margin: 0 auto;
  text-align: center;
  max-height: 5000px;
}

body {
  background-color: rgb(241, 237, 237);
}


.nav {
  display: inline-table;
  border-radius: 10px;
}

.content {
  flex: 1; /* Allow content to expand to fill remaining space */
  padding: 5em; /* Add padding to create space between content and edges */
}

.nav button {
  padding: 5px;
  margin: 1px;
  border: 2px solid rgb(146, 137, 137);
  background-color: #777474;
  cursor: pointer;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;

}

.navButton{
  margin: 50px;
  background-color: black;
}




