/* App.css */
#root {
  margin: 0 auto;
  text-align: center;
}


.app {
  display: flex;
  flex-direction: column;

}

body {
  background-color: rgb(241, 237, 237);
}


.nav {
  display: inline-table;
  border-radius: 10px;
}

.content {
  flex: 1; /* Allow content to expand to fill remaining space */
  padding: 5em; /* Add padding to create space between content and edges */
}

.nav button {
  padding: 5px;
  margin: 1px;
  border: 2px solid rgb(146, 137, 137);
  background-color: #777474;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.nav button:hover {
  background-color: #4d4d4d;
  transform: scale(1.1);
  border: 1px solid rgb(194, 188, 188);
}


.nav button.create-list-button {
  width: 120px;
  background-color: #5045c8;
  color: rgb(255, 255, 255);
}

.nav button.delete-list-button {
  width: 120px;
  background-color: #d62525;
  color: rgb(255, 255, 255);
}



/* Icons */
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #9f9ea4;
}

.icon-button:hover {
  transform: scale(1.4);
  color: black;
}


