/* App.css */
#root {
  margin: 0 auto;
  text-align: center;
}


.app {
  display: flex;
  flex-direction: column;

}

body {
  background-color: rgb(241, 237, 237);
}

.nav {
  display: inline-table;
  border-radius: 10px;
}

.details-container svg {
  color: var(--forestGreen-color);
}

.content {
  flex: 1;
  /* Allow content to expand to fill remaining space */
  padding: 5em;
  /* Add padding to create space between content and edges */
}

.nav button {
  padding: 5px;
  margin: 1px;
  border: 2px solid rgb(146, 137, 137);
  background-color: #777474;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.nav button:hover {
  background-color: #4d4d4d;
  transform: scale(1.1);
  border: 1px solid rgb(194, 188, 188);
}


.nav button.create-list-button {
  width: 120px;
  background-color: #5045c8;
  color: rgb(255, 255, 255);
}

.nav button.delete-list-button {
  width: 120px;
  background-color: #d62525;
  color: rgb(255, 255, 255);
}



/* Icons */
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #9f9ea4;
}

.icon-button:hover {
  transform: scale(1.4);
  color: black;
}

.icon-button.edit:hover {
  color: rgb(235, 204, 103);
}

.icon-button.delete:hover {
  color: rgb(230, 81, 81);
}

.icon-button.add:hover {
  color: rgb(100, 158, 49)
}

.delete-icon {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.chip:hover .delete-icon {
  opacity: .9;
}

.tags-container,
.functions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  background-color: #f0eded;
  border: 1px solid #cdc3c3;
  border-radius: 10px;
  padding: 4px;
}

.functions-container {
  margin: 10px 0 5px 0;
  gap: 20px;
}

.add-tag span {
  cursor: pointer;
}

.new-tag-popper-container {
  background-color: #f9f9f9;
  border: 1px solid #534f4f;
  border-radius: 10px;
  padding: 16px;
  max-width: 200px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  gap: 10px
}

.new-tag-popper-form {
  background-color: #f9f9f9;
  max-width: 200px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 20px
}

.new-tag-popper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.new-tag-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.new-tag-popper-content .MuiTextField-root {
  flex-grow: 1;
  margin-right: 10px;
}

.app-container {
  min-height: 100vh; /* Ensure the parent container has enough height */
}

.sticky-center {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.icons-container {
  display: inline-flex;
  justify-content: flex-end; 
  gap: 5px;
  overflow: hidden;
  position: relative;
  max-width: fit-content;
  background-color: rgb(213, 220, 213);
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.progress-bar-container {
  
}

.icons-container::after {
  content: '...';
  position: absolute;
  right: 0;
  background: white; 
  display: none;
}

.icons-container.overflow::after {
  display: block; 
}


/* Functions container and icon buttons */
.functions-container .icon-button {
  margin: 3px 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
  transition: transform 0.3s ease;
}


.functions-container .icon-button:hover {
  color: var(--secondary-color);
  cursor: pointer;
  transform: scale(1.2);
}

.hidden {
  display: none;
}

.icon-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  
}

.list-description-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--forestGreen-color);
}

.details-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  text-align: center;
}

.details-settings {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.settings-section, .share-section {
  flex: 1;
  min-width: 300px; /* Adjust as needed */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.settings-section .title, .share-section .title {
  font-size: 16px; /* Adjust the size as needed */
  text-align: center;
  margin-top: 0;
}

.list-selection-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.details-grid div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}

@media (max-width: 768px) {
  .settings-section, .share-section {
    flex: 100%;
    min-width: 100%;
  }
}





@media screen and (max-width: 1024px) {
  .content {
    padding: 0;
  }

}

@media (max-width: 599px) {
  .details-container {
    flex-direction: row;
    flex-direction: column;
  }
}

@media (max-width: 599px) {
  .listSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center; /* Center the icon-buttons */
    width: 100%; /* Ensure it takes the full width of the container */
  }

  .list-selection-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    width: 100%;
  }
  .functions-container {
    flex-direction: column;
    align-items: center;
  }

  .progress-title {
    display: none
  }

  .progress-bar-container {
    width: 50%;
  }
}