:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --light-orange: #FFA500;
  --dark-orange: #FF4500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(input):not(textarea) {
  cursor: default;
}

.modal-overlay {
  z-index: 10;
}

/* Disable text selection for all elements */
* {
  user-select: none;
}

/* Enable text selection for specific elements if needed */
input,
textarea,
.selectable {
  user-select: auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
 min-height: 100vh;
 height: auto;
 background: linear-gradient(to top, #ffffff14 30%, var(--primary-color) 96%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #171c20;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Global modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.modal {
  position: relative;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Other styles for the modal */
}

.modal-button {
  /* Add your styles here */
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 9em;
  height: 3.8em;
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease; 
}

.modal-button:hover {
  background-color: white;
  color: var(--secondary-color);
  font-weight: 900;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.modal-button.cancel {
  background-color: var(--cancel-color);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  width: 9em;
  height: 3.8em;
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.modal-button.cancel:hover {
  background-color: white;
  color: var(--cancel-color);
  font-weight: 900;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
