.view-display {
    background-color: white;
    border-radius: 10px 30px;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4); /* Slight box shadow */
}

.view-display > h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}